.container {
  padding: 0 1rem;
}

.avatarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

.name {
  font-size: 1.25rem;
}

.infoItem {
  padding: 0.5rem 0;
}
