.item {
  padding: 1rem 0 1rem 0;
}

.container {
  display: flex;
  text-decoration: none;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  padding: 0 1rem;
}

.name {
  height: auto; 
  color: var(--primary);
  font-weight: bold;
  padding-bottom: 0.25rem;
}

.email {
    color: var(--secondary);
}
